In [1]:
import pandas as pd

In [3]:
dat = pd.read_csv('census.csv')

In [5]:
dat.shape

(32561, 15)

In [7]:
dat.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
dat.dtypes

age                 int64
 workclass         object
 fnlgt              int64
 education         object
 education-num      int64
 marital-status    object
 occupation        object
 relationship      object
 race              object
 sex               object
 capital-gain       int64
 capital-loss       int64
 hours-per-week     int64
 native-country    object
 salary            object
dtype: object

In [17]:
for col in dat.columns:
    column = dat[col]
    if column.dtype == 'object':
        column = column.str.replace(' ', '')
        print(set(column))
        
dat.to_csv('census.csv', sep=',', index=False)

{'Self-emp-inc', 'State-gov', 'Without-pay', 'Private', '?', 'Never-worked', 'Federal-gov', 'Self-emp-not-inc', 'Local-gov'}
{'Assoc-acdm', 'Bachelors', 'HS-grad', 'Preschool', '9th', '10th', '12th', 'Doctorate', 'Assoc-voc', '5th-6th', '1st-4th', 'Masters', '7th-8th', 'Some-college', 'Prof-school', '11th'}
{'Widowed', 'Married-spouse-absent', 'Separated', 'Married-AF-spouse', 'Married-civ-spouse', 'Never-married', 'Divorced'}
{'Sales', 'Tech-support', 'Protective-serv', 'Machine-op-inspct', 'Handlers-cleaners', 'Farming-fishing', 'Prof-specialty', 'Other-service', 'Exec-managerial', 'Craft-repair', 'Transport-moving', '?', 'Armed-Forces', 'Priv-house-serv', 'Adm-clerical'}
{'Unmarried', 'Husband', 'Own-child', 'Not-in-family', 'Wife', 'Other-relative'}
{'Other', 'White', 'Asian-Pac-Islander', 'Black', 'Amer-Indian-Eskimo'}
{'Female', 'Male'}
{'France', 'Holand-Netherlands', 'Scotland', 'India', 'Philippines', 'El-Salvador', 'Guatemala', 'Italy', 'Cambodia', 'Poland', 'Vietnam', 'Dominican-Republic', 'Jamaica', 'Outlying-US(Guam-USVI-etc)', 'Yugoslavia', 'Nicaragua', 'Haiti', 'Cuba', 'Hong', 'United-States', 'Trinadad&Tobago', 'Columbia', 'Honduras', 'Peru', 'Ecuador', 'Thailand', 'England', 'South', 'China', 'Ireland', 'Greece', 'Taiwan', 'Portugal', 'Laos', '?', 'Germany', 'Hungary', 'Mexico', 'Puerto-Rico', 'Canada', 'Iran', 'Japan'}
{'<=50K', '>50K'}